.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.notVisible {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}

@media(prefers-reduced-motion) {
  .hidden {
      transition: none;
  }
}

.visible {
  opacity: 1;
  filter: blur(0);
}

.box{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
}

.game:nth-child(2) {
  transition-delay: 100ms ;
}

.game:nth-child(3) {
  transition-delay: 200ms ;  
}

.game:nth-child(3) {
  transition-delay: 300ms ;  
}


.game:nth-child(5) {
  transition-delay: 400ms ; 
}